* {
    margin: 0;
    padding: 0;
}
center{
    background-color: white;
    padding: 10px;
    color: black;
}
.h2-1{
    color: white;
    background-color: black;
}
ul {
    padding-left: 30px;
}

.h2-2 {
    background-color: black;
    color: white;
}